<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{site.desc}}">
    <meta name="keywords" content="{{page.tags | default: site.keywords }}">


    <meta name="author" content="{{site.name}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}  | {{site.name}} | {{site.desc}} </title>

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>